.idea/
.vscode
config/bootstrap.php
config/packages/cache.yaml

###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

docker
docker-compose.yml
.DS_Store
ecom_db.sql
compose.override.yaml
.gitlab-ci.yml
